<h2>在庫受払帳</h2>
<%= form_with(model: @product, url: stocks_show_path, method: :get, local: true) do |form| %>
  <%= form.collection_select(:product_id, Product.all, :id, :name, prompt: "選択してください") %>
  <%= form.submit %>
<% end %>

<table>
  <tr>
    <th>種別</th>
    <th>日付</th>
    <th>企業名</th>
    <th>個数</th>
    <th>価格</th>
  </tr>
  <% @stock_details.each do | stock_detail | %>
    <tr>
      <td><%= stock_detail.decorate.date_at_of_purchase_or_sale %></td>
      <td><%= stock_detail.decorate.name_of_purchase_or_sale %></td>
      <td><%= "#{stock_detail.quantity}個" %></td>
      <td><%= "#{stock_detail.product.decorate.price_of_purchase_or_sale}円" %></td>
    </tr>
  <% end %>
</table>