<h2>在庫受払帳</h2>
<%= form_with(model: @product, url: stocks_show_path, method: :get, local: true) do |form| %>
  <%= form.collection_select(:product_id, Product.all, :id, :name, prompt: "選択してください") %>
  <%= form.submit %>
<% end %>

<% @purchase_detail.zip(@sale_detail) do |pd, sd| %>
  <tr> 
    <td><%= pd.purchase.date_at %></td>
    <td><%= pd.purchase.supplier.name %></td>
    <td><%= pd.quantity %></td>
    <td><%= pd.product.cost_price %></td>
    <td><%= link_to 'ページへGO', edit_purchase_path(pd.purchase_id) %></td>
    <td><%#= sd.sale.date_at %></td>
    <td><%#= sd.sale.client.name %></td>
    <td><%#= sd.quantity %></td>
    <td><%#= sd.product.selling_price %></td>
    <td><%#= link_to 'ページへGO', edit_sale_path(sd.sale_id) %></td>
  </tr>
<% end %>