<%= form_with(model: @purchase, local: true) do |form| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= @purchase.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= link_to '新規登録', new_purchase_path %>
  
  <div class="purchase_code">
    <%= form.label :code %>
    <%= form.text_field :code, placeholder: "仕入コード" %>
  </div>
  
  <div class="purchase_date_at">
    <%= form.label :date_at %>
    <%= form.date_field :date_at, placeholder: "仕入日" %>
  </div>

  <div class="purchase_supplier_name">
    <%= form.label :supplier_name %>
    <%= form.collection_select(:supplier_id, Supplier.all, :id, :name, prompt: "選択してください") %>
  </div>

  <div class="purchase_supplier_name">
    <%#= form.label :purchase_supplier_name %>
    <%#= form.text_field :supplier_id, id: :supplier_id, placeholder: "supplier_id" %>
  </div>

  <div class="purchase_inputter">
    <p>入力者:<%= current_user.name %></p>
    <%= form.hidden_field :inputter, value: current_user.id %> <!-- パラメータで入力者のidを渡すため。-->
  </div>

  <%= form.fields_for :purchase_details do |pc| %>
    <strong>
      <p>商品<%= "#{pc.index+1}" %></p>
    </strong>

    <%= pc.collection_select(:product_id, Product.all, :id, :name, prompt: "選択してください") %> <!-- @productsではundefined method `map' for nil:NilClassエラーになる。-->

    <div class="pc_quantity">
      <%= pc.label :個数 %>
      <%= pc.text_field :quantity %>
    </div>
  
    <div class="purchase_total">
      <p>合計:</p>
    </div> 
  <% end %>

  <%= form.submit %>
<% end %>

<%= link_to 'メインメニュー', menus_path %>
<%= link_to '仕入一覧', purchases_path %>