<h2>仕入一覧</h2>
<p><%= notice %></p>
<%= link_to '新規登録', new_purchase_path %>

<table>
  <tr>
    <th>仕入コード</th>
    <th>仕入日</th>
    <th>仕入先</th>
  </tr>
  <% @purchases.each do |s| %>
    <tr>
      <td><%= s.code %></td>
      <td><%= s.date_at %></td>
      <td><%= Client.find(s.client_id).name %></td> <!-- 要修正 -->
      <td><%= link_to '編集', edit_purchase_path(s.id), class: "btn btn-success" %></td>
      <td><%= link_to "削除", purchase_path(s.id), method: :delete, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'メインメニュー', menus_path %>
