<h2>仕入一覧</h2>
<p><%= notice %></p>
<%= link_to '新規登録', new_purchase_path %>

<table>
  <tr>
    <th>仕入コード</th>
    <th>仕入日</th>
    <th>仕入先</th>
  </tr>
  <% @purchases.each do |pc| %>
    <tr>
      <td><%= pc.code %></td>
      <td><%= pc.date_at %></td>
      <td><%= Supplier.find(pc.supplier_id).name %></td>
      <td><%= link_to '編集', edit_purchase_path(pc.id), class: "btn btn-success" %></td>
      <td><%= link_to "削除", purchase_path(pc.id), method: :delete, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'メインメニュー', menus_path %>
